.credit-card-form {
    margin-top: 1%;
    margin-left: 35%;
    max-width: 400px;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.1);
    font-family: 'Montserrat', sans-serif;
    background-color: #dbdbdb;
    text-align: center;
    color: #424242;
  }
  
  .credit-card-form h2 {
    margin-bottom: 10%;
    font-size: 24px;
  }
  
  .credit-card-form .form-group {
    margin-bottom: 15px;
  }
  
  .credit-card-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #777;
  }
  
  .credit-card-form input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 1rem;
    font-size: 16px;
  }
  
  .credit-card-form .form-row {
    display: flex;
  }
  
  .credit-card-form button[type="submit"] {
    width: 100%;
    padding: 14px;
    background-color: #585858;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .credit-card-form button[type="submit"]:hover {
    background-color: #808080;
    color: #424242;
    box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.1);
  }
  
  
  .Image1 {
    margin-top: 0;
    width: 220px;
  }